@page "/"

<PageTitle>Pick a category:</PageTitle>

 <div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Choose your game:</h1>
</div>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="category-card bg-success text-white p-3">
				<h3>Country</h3>
				<p>Test your knowledge of countries around the world.</p>
				<a href="/Game/Country" class="btn btn-light">Play</a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="category-card bg-success text-white p-3">
                <h3>Capitals</h3>
                <p>Test your knowledge of world capitals.</p>
                <a href="/Game/Capitals" class="btn btn-light">Play</a>
            </div>
        </div>
    </div>
</div>

@code {
}
